<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:chimera="http://schemas.android.com/chimera" xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:app="http://schemas.android.com/apk/res-auto" xmlns="https://developers.google.com/now/actions/1.1" xmlns:aapt="http://schemas.android.com/aapt" android:layout_width="match_parent" android:layout_height="match_parent">
    <FrameLayout android:id="@+id/selector" android:background="@color/selector_color" android:layout_width="match_parent" android:layout_height="0dp" android:layout_centerVertical="true" android:alpha="0"/>
    <com.google.android.pano.widget.ScrollAdapterView android:gravity="center_vertical" android:orientation="vertical" android:id="@+id/list" android:focusable="true" android:descendantFocusability="afterDescendants" android:layout_width="match_parent" android:layout_height="match_parent" app:scrollCenterOffsetPercent="50" app:scrollCenterStrategy="2"/>
</RelativeLayout>
